
.button-escada {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.button-escada:hover {
    background-color: #172554;
    font-weight: bold;
}

.mt { 
    display: block; 
}

.lp { 
    display: block; 
}
.ti { 
    display: block; 
}

.a-analytics {
    background-color: #f59e0b;
    color: rgb(250, 247, 243);
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    border: 1px solid #815304;
    font-weight: bold;
    /*efeito de transparencia da cor de fundo*/
    opacity: 0.7;
    
}
.a-analytics:hover {
    background-color: #815304;
    font-weight:900;
    /*efeito de brilho*/
    box-shadow: 0 0 10px #f59e0b;
    opacity: 1;

}